In [39]:
%load_ext autoreload
%autoreload 2
from dbase.DataAPI.ThetaData import (
    list_contracts,
    retrieve_ohlc
)
import os
os.environ['PROXY_URL'] = ''

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [42]:
res = list_contracts('AAPL', '2025-07-24')
res

      root  expiration  strike right
0     AAPL    20250822   215.0     C
1     AAPL    20250829   215.0     C
2     AAPL    20250822   215.0     P
3     AAPL    20250829   215.0     P
4     AAPL    20250905   215.0     P
...    ...         ...     ...   ...
2397  AAPL    20250725   215.0     P
2398  AAPL    20250808   215.0     C
2399  AAPL    20250808   215.0     P
2400  AAPL    20260618   210.0     C
2401  AAPL    20260618   210.0     P

[2402 rows x 4 columns]

In [31]:
retrieve_ohlc(
    symbol='AAPL',
    end_date='2025-07-24',
    start_date='2025-07-01',
    exp='2025-07-24',
    right='P'
    strike=
)

TypeError: retrieve_ohlc() missing 1 required positional argument: 'strike'