In [1]:

import os
from dotenv import load_dotenv
load_dotenv()
import sys
sys.path.append(
    os.environ.get('WORK_DIR')) # type: ignore
%load_ext autoreload
%autoreload 2

In [2]:
from ThetaData import request_from_proxy

In [3]:
# Create dummy data for the variables
end_date = "20231103"
symbol = "AAPL"
exp = "20231103"
right = "C"
start_date = "20231103"
strike = "170000"
url  = "http://127.0.0.1:25510/v2/hist/option/ohlc"
querystring = {"end_date": end_date, "root": symbol, "use_csv": "true", "exp": exp, "ivl": 3600000, "right": right, "start_date": start_date, "strike": strike}

In [4]:
url  = "http://127.0.0.1:25510/v2/hist/option/ohlc"
instanceUrl = "http://54.227.31.34:5500/thetadata"
queryParam = {"end_date": end_date, "root": symbol, "use_csv": "true", "exp": exp, "ivl": 3600000, "right": right, "start_date": start_date, "strike": strike}
proxy_response = request_from_proxy(url, queryParam, instanceUrl)
proxy_response.json()

{'content': 'ms_of_day,open,high,low,close,volume,count,date\r\n34200000,4.4800,7.0500,3.6000,4.6500,3093,478,20231103\r\n37800000,4.9300,5.8600,4.8800,4.9000,957,145,20231103\r\n41400000,5.0300,6.4500,4.8700,6.4400,284,79,20231103\r\n45000000,6.4000,6.4000,5.7500,5.7600,196,65,20231103\r\n48600000,5.8000,5.8600,5.0500,5.7000,2062,90,20231103\r\n52200000,5.7800,6.4300,5.7000,5.9300,429,97,20231103\r\n',
 'cookies': {},
 'data': 'ms_of_day,open,high,low,close,volume,count,date\r\n34200000,4.4800,7.0500,3.6000,4.6500,3093,478,20231103\r\n37800000,4.9300,5.8600,4.8800,4.9000,957,145,20231103\r\n41400000,5.0300,6.4500,4.8700,6.4400,284,79,20231103\r\n45000000,6.4000,6.4000,5.7500,5.7600,196,65,20231103\r\n48600000,5.8000,5.8600,5.0500,5.7000,2062,90,20231103\r\n52200000,5.7800,6.4300,5.7000,5.9300,429,97,20231103\r\n',
 'elapsed': 0.032185,
 'headers': {'Access-control-allow-headers': '*',
  'Access-control-allow-origin': 'https://http-docs.thetadata.us',
  'Access-control-request-headers': '*',
  'Content-disposition': 'attachment; filename=OHLC.O-AAPL-20231103-170000-C.20231103-20231103.3600000.csv;',
  'Content-length': '377',
  'Content-type': 'text/csv',
  'Date': 'Mon, 09 Dec 2024 21:34:57 GMT',
  'Latency': '22',
  'Next-page': 'null'},
 'history': [],
 'reason': 'OK',
 'status_code': 200,
 'text': 'ms_of_day,open,high,low,close,volume,count,date\r\n34200000,4.4800,7.0500,3.6000,4.6500,3093,478,20231103\r\n37800000,4.9300,5.8600,4.8800,4.9000,957,145,20231103\r\n41400000,5.0300,6.4500,4.8700,6.4400,284,79,20231103\r\n45000000,6.4000,6.4000,5.7500,5.7600,196,65,20231103\r\n48600000,5.8000,5.8600,5.0500,5.7000,2062,90,20231103\r\n52200000,5.7800,6.4300,5.7000,5.9300,429,97,20231103\r\n',
 'url': 'http://127.0.0.1:25510/v2/hist/option/ohlc?end_date=20231103&root=AAPL&use_csv=true&exp=20231103&ivl=3600000&right=C&start_date=20231103&strike=170000'}

In [5]:
import pandas as pd
from io import StringIO
data = pd.read_csv(StringIO(proxy_response.json()['data']))
data

   ms_of_day  open  high   low  close  volume  count      date
0   34200000  4.48  7.05  3.60   4.65    3093    478  20231103
1   37800000  4.93  5.86  4.88   4.90     957    145  20231103
2   41400000  5.03  6.45  4.87   6.44     284     79  20231103
3   45000000  6.40  6.40  5.75   5.76     196     65  20231103
4   48600000  5.80  5.86  5.05   5.70    2062     90  20231103
5   52200000  5.78  6.43  5.70   5.93     429     97  20231103

In [14]:
sample_data = {
  'symbol': 'AAPL',
  'exp': '20231103',
  'strike': 150.0,
  'end_date': '20231103',
  'start_date': 202311013,
  'right': 'C',
}

In [ ]:
from ThetaData import retrieve_ohlc
response = retrieve_ohlc(symbol = sample_data['symbol'], start_date = sample_data['start_date'], end_date = sample_data['end_date'], right=sample_data['right'], strike=sample_data['strike'], exp=sample_data['exp'], proxy = "http://54.227.31.34:5500/thetadata")

c:\Users\Zino\python-playground\FinanceDatabase\FinanceDatabase\dbase\DataAPI\ThetaData.py:390: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  data = data.resample(f'{integer*60}T', origin='start_day', offset = '30min').agg(

In [16]:
response

,Open,High,Low,Close,Volume,Bid_size,CloseBid,Ask_size,CloseAsk,Midpoint,Weighted_midpoint
Datetime,,,,,,,,,,,
2023-09-26 09:30:00,26.61,26.61,26.61,26.61,1,0.0,0.00,0.0,0.00,0.000,0.000000
2023-09-26 10:30:00,24.25,24.25,24.25,24.25,1,10.0,24.75,47.0,25.25,25.000,25.162281
2023-09-26 11:30:00,0.00,0.00,0.00,0.00,0,10.0,24.35,30.0,24.55,24.450,24.500000
2023-09-26 12:30:00,0.00,0.00,0.00,0.00,0,12.0,24.70,10.0,24.90,24.800,24.790909
2023-09-26 13:30:00,0.00,0.00,0.00,0.00,0,10.0,24.60,10.0,24.80,24.700,24.700000
...,...,...,...,...,...,...,...,...,...,...,...
2023-11-03 11:30:00,0.00,0.00,0.00,0.00,0,131.0,24.70,264.0,24.90,24.800,24.833671
2023-11-03 12:30:00,25.73,25.73,25.73,25.73,10,16.0,26.25,13.0,26.45,26.350,26.339655
2023-11-03 13:30:00,25.71,25.71,25.71,25.71,1,14.0,25.65,15.0,25.90,25.775,25.779310
2023-11-03 14:30:00,25.87,26.35,25.87,26.03,39,14.0,25.70,18.0,25.85,25.775,25.784375
2023-11-03 15:30:00,26.06,26.70,26.06,26.70,53,52.0,25.95,20.0,26.15,26.050,26.005556