In [1]:
import os
from dotenv import load_dotenv
load_dotenv()
import sys
sys.path.append(
    os.environ.get('WORK_DIR')) # type: ignore
from ThetaData import generate_request_string
from ThetaData import request_from_proxy
%load_ext autoreload
%autoreload 2

In [3]:
# Create dummy data for the variables
end_date = "20231103"
symbol = "AAPL"
exp = "20231103"
right = "C"
start_date = "20231103"
strike = "170000"
url  = "http://127.0.0.1:25510/v2/hist/option/ohlc"
querystring = {"end_date": end_date, "root": symbol, "use_csv": "true", "exp": exp, "ivl": 3600000, "right": right, "start_date": start_date, "strike": strike}

request_string = generate_request_string(url, querystring)
request_string

'http://127.0.0.1:25510/v2/hist/option/ohlc?end_date=20231103&root=AAPL&use_csv=true&exp=20231103&ivl=3600000&right=C&start_date=20231103&strike=170000'

In [ ]:
import requests
import json
url = "http://54.225.55.109:5500/thetadata"
payload = json.dumps({
  "url": request_string,
  "method": "GET"
})
headers = {
  'Content-Type': 'application/json',
}
response = requests.request("POST", url, headers=headers, data=payload)
response.text

'{"data":"ms_of_day,open,high,low,close,volume,count,date\\r\\n34200000,4.4800,7.0500,3.6000,4.6500,3093,478,20231103\\r\\n37800000,4.9300,5.8600,4.8800,4.9000,957,145,20231103\\r\\n41400000,5.0300,6.4500,4.8700,6.4400,284,79,20231103\\r\\n45000000,6.4000,6.4000,5.7500,5.7600,196,65,20231103\\r\\n48600000,5.8000,5.8600,5.0500,5.7000,2062,90,20231103\\r\\n52200000,5.7800,6.4300,5.7000,5.9300,429,97,20231103\\r\\n","headers":{"Access-control-allow-headers":"*","Access-control-allow-origin":"https://http-docs.thetadata.us","Access-control-request-headers":"*","Content-disposition":"attachment; filename=OHLC.O-AAPL-20231103-170000-C.20231103-20231103.3600000.csv;","Content-length":"377","Content-type":"text/csv","Date":"Tue, 26 Nov 2024 01:57:18 GMT","Latency":"35","Next-page":"null"},"status":200}\n'

In [6]:
url  = "http://127.0.0.1:25510/v2/hist/option/ohlc"
instanceUrl = "http://54.225.55.109:5500/thetadata"
queryParam = {"end_date": end_date, "root": symbol, "use_csv": "true", "exp": exp, "ivl": 3600000, "right": right, "start_date": start_date, "strike": strike}
proxy_response = request_from_proxy(url, queryParam, instanceUrl)
proxy_response

In [11]:
import pandas as pd
from io import StringIO
data = pd.read_csv(StringIO(proxy_response.json()['data']))
data

   ms_of_day  open  high   low  close  volume  count      date
0   34200000  4.48  7.05  3.60   4.65    3093    478  20231103
1   37800000  4.93  5.86  4.88   4.90     957    145  20231103
2   41400000  5.03  6.45  4.87   6.44     284     79  20231103
3   45000000  6.40  6.40  5.75   5.76     196     65  20231103
4   48600000  5.80  5.86  5.05   5.70    2062     90  20231103
5   52200000  5.78  6.43  5.70   5.93     429     97  20231103