In [ ]:
class ThetDataNoImplementation(Exception):
    """Exception raised when the data is not available/not implemented."""
    pass

class ThetaDataOSLimit(Exception):
    """Exception raised when OS limits are reached.
    Best to retry again.
    """
    pass

class ThetaDataGeneral(Exception):
    """General exception for ThetaData."""
    pass

class ThetaDataPermission(Exception):
    """Permission error for ThetaData."""
    pass

class ThetaDataNotFound(Exception):
    """Exception raised when the data is not found."""
    pass

class ThetaDataInvalidParameter(Exception):
    """Exception raised when the parameter is invalid."""
    pass

class ThetaDataDisconnected(Exception):
    """Exception raised when the data is disconnected."""
    pass

class ThetaDataParseError(Exception):
    """Exception raised when there is a parsing error."""
    pass

class ThetaDataWrongIP(Exception):
    """Exception raised when the IP address is wrong."""
    pass

class ThetaDataNoPageFound(Exception):
    """Exception raised when the page is not found."""
    pass

class ThetaDataLargeData(Exception):
    """Exception raised when the data is too large."""
    pass

class ThetaDataServerRestart(Exception):
    """Exception raised when the server is restarting."""
    pass

class ThetaDataUncaughtException(Exception):
    """Exception raised for uncaught errors."""
    pass

class ThetaDataUnknownError(Exception):
    """Exception raised for unknown errors."""
    pass

In [29]:
def raise_thetadata_exception(response, params = {}, proxy = None):
    """
    Raise an exception if the response indicates an error.
    """
    code = response.status_code
    if code == 404:
        raise ThetDataNoImplementation("The requested feature is not implemented.")
    elif code == 429:
        raise ThetaDataOSLimit("OS Limit reached. Please try again.")
    elif code == 470:
        raise ThetaDataGeneral("General error occurred.")
    elif code == 471:
        raise ThetaDataPermission("Permission denied.")
    elif code == 472:
        raise ThetaDataNotFound(f"Data not found for the given parameters: {params}")
    elif code == 473:
        raise ThetaDataInvalidParameter(f"Invalid parameter provided: {params}, if error persists, update terminal.")
    elif code == 474:
        raise ThetaDataDisconnected("Disconnected from the server.")
    elif code == 475:
        raise ThetaDataParseError("Error parsing the response.")
    elif code == 476:
        raise ThetaDataWrongIP("Wrong IP address provided.")
    elif code == 477:
        raise ThetaDataNoPageFound("No page found for the given request.")
    elif code == 570:
        raise ThetaDataLargeData("Data size is too large.")
    elif code == 571:
        raise ThetaDataServerRestart("Server is restarting. Retry in a few seconds.")
    elif code == 572:
        raise ThetaDataUncaughtException("Uncaught exception occurred.")
    elif code == 200:
        return
    else:
        raise ThetaDataUnknownError(f"Unknown error occurred. Status code: {code}")

In [2]:
%load_ext autoreload
%autoreload 2
import os
os.environ["PROXY_URL"] = ""
from dbase.DataAPI.ThetaData import list_contracts

response = list_contracts('AAPL', '2025-05-05')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [35]:
response

      root  expiration  strike right
0     AAPL    20250516   100.0     P
1     AAPL    20250516   100.0     C
2     AAPL    20250516   217.5     P
3     AAPL    20250516   217.5     C
4     AAPL    20250516   185.0     C
...    ...         ...     ...   ...
2211  AAPL    20260618    35.0     P
2212  AAPL    20260618   195.0     P
2213  AAPL    20260618   195.0     C
2214  AAPL    20260618   120.0     P
2215  AAPL    20260618   120.0     C

[2216 rows x 4 columns]

In [33]:
response.status_code = 200
raise_thetadata_exception(response)